# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.bak
pom.xml.versions
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
builddirectory/
target/

# Gradle
.gradle/
build/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Temporary Files
*.swp
*.log
*.cache
*.lib
*.a
*.la
*.so
*.obj
*.o
*.dll
*.class

# macOS
.DS_Store
